.animated-border {
  animation: borderMove 7s linear infinite;
  filter: drop-shadow(0 0 3px rgba(108, 149, 141, 0.8));
}

@keyframes borderMove {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -100;
  }
}

